.login video
{
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(70%);
}
.container
{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 500px;
    width: 500px;
    background-color: rgba(5, 5, 5, 0.1);
    margin-left: 30%;
    margin-top: 22%;
}
.loginheading{
    font-family: Lyon;
    font-weight: 700;
    font-style: normal;
    color: ghostwhite
    ;
    font-size: 2.625rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.content h4{
    color: ghostwhite;
}
.quote h1{
    font-size: 50px;
    color: ghostwhite;
    margin-left: 60%;
    margin-top: -40%;

}
.quote h3{
    font-size: 30px;
    color: ghostwhite;
    margin-left: 67%;
    /* margin-top: -40%; */
}
.content h3{
    font-family: Effra,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: white;
    margin-left: 2%;
}
.content  input{
    border: 1px solid #0d3f5e;
    display: flex;
    width: 70%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff
}
.signup
{
    color:ghostwhite;
    margin-top: -4.5%;
    margin-left: 29%;
    cursor: pointer;
}
.signup:hover
{
    text-transform: uppercase;
}
.button
{
    background-color: #0a8552;
    border: 1px solid #0a8552;
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size:23px;

}
.button:hover{
    transform: scale(1.1);
    transition: all .3s ease;
    text-transform: uppercase;
}
.fp a{
    text-decoration: none;
    color: ghostwhite;

}
.fp a:hover{
    transform:scale(1.2);
    transition: all .4s ease;
}